*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 20%;
}

.nomeSite h1 {
    font-size: 24px;
    font-weight: bold;
}

.dropMenu {
    position: relative;
}

.menuIcon {
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #34495e;
    list-style: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.menu li {
    padding: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover {
    text-decoration: underline;
    background-color: #2c3e50;
    border-radius: 3px;
}

.menu.active {
    display: block;
    opacity: 1;
}